:root {
	--clr-fg: #FFF;
	--clr-bg: #2a5072;
	--clr-topbar: #2d3645;
	--clr-highlight: #2ed6b6;
/* 	--clr-status-ready: #a2da28;
	--clr-status-uncalibrated: #af1429;
	--clr-status-unknown: #79858d; */
	--clr-status-green: #a2da28;
	--clr-status-red: #af1429;
	--clr-status-grey: #79858d;
	--clr-status-yellow: #ffff00;
}
