*.diff
*.err
*.ini
*.log
*.stackdump
*.swp
._*
.AppleDouble
.directory
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db

/node_modules

/pyapi/flask

/public/js/app.js
/public/css/app.css

/app/*.js
/server/*.js
/server/lib/*.js
/server/models/*.js
/server/state/*.js
/server/controllers/*.js

.env

# Local project mock directories of system
/mock-sys
/mock-imt/home/imt/therapist/*
!/mock-imt/home/imt/therapist/readme.md
/mock-imt/home/imt/Private/*
!/mock-imt/home/imt/Private/readme.md
